/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/

body {
  background-color: #bdc3c7;
}

.profil,
.hlavicka {
  width: 300px;
  background-color: #31363b;
  position: relative;
}

.obsah {
  background-color: #31363b;
  padding: 20px;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: lightgrey;
}

.jmeno {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: whitesmoke;
}

.odkazy {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo {
  background-color: #b92e81;
  border-radius: 50%;
  position: fixed;
  top: 180px;
  left: 220px;
  z-index: 1;
  box-shadow: 1px 3px 3px black;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-align: center;
  color: lightgrey;
  padding: 10px;
  display: block;
}

.portfolio {
  width: 300px;
  border-color: #3f464d;
  border-style: solid;
  border-width: thin;
}

.facebook,
.twitter {
  width: 49.1%;
  display: inline-block;
  border-left: #3f464d solid thin;
}

.portfolio :hover {
  background-color: #e74c3c;
}

.facebook :hover {
  background-color: #3b5998;
}

.twitter :hover {
  background-color: #1da1f2;
}
